:root {
  /* font and sizes */
  --font-family: "Sora", sans-serif;
  --size-title: 1.8rem;
  --size-body: 1.4rem;
  --size-footer: 1.2rem;
  --size-tag: 1rem;

  /* colors */
  --bg-card: #fff;
  --bg-body: #fafaf9;
  --bg-tag: #f2eafd;

  --line: #e5eaf0;

  --color-title: #20293a;
  --color-body: #394150;
  --color-tag: #7c19ee;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-body);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: var(--size-title);
  color: var(--color-title);
}

h2 {
  font-size: var(--size-body);
  color: var(--color-body);
}

p {
  font-size: var(--size-body);
  color: var(--color-body);
}

.container {
  max-width: min(95%, 120rem);
  margin: 0 auto;
}

/* card */
.card {
  margin-top: 16.4rem;
  background-color: var(--bg-card);
  width: 36.8rem;
  height: 36.8rem;
  padding: 1.6rem 1.6rem 2rem 1.6rem;
  border-radius: 1rem;
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.card__tag {
  background-color: var(--bg-tag);
  color: var(--color-tag);
  font-size: var(--size-tag);
  font-weight: bold;
  padding: 0.6rem 1.6rem;
  width: fit-content;
  border-radius: 1rem;
  margin: 1.6rem 0;
}

.card__title {
  color: var(--color-title);
  font-size: var(--size-title);
  margin-bottom: 0.6rem;
}

.card__body,
.card__footer {
  color: var(--color-body);
}

.card__body {
  font-size: var(--size-body);
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--line);
}

.card__footer {
  font-size: var(--size-footer);
}

.author-info {
  margin-top: 2rem;
}

.author-info a {
  text-decoration: none;
  color: var(--color-tag);
}
